<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_lM3kP4F6lwO5UtNb-aEVly11sN866xM</string>
	<key>GCM_SENDER_ID</key>
	<string>948744637826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.flutterkaigi.conf2024.dev</string>
	<key>PROJECT_ID</key>
	<string>flutterkaigi-2024-conf-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterkaigi-2024-conf-app-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948744637826:ios:e6bb0c36222bed8345539b</string>
</dict>
</plist>